.vs/ConsoleApp8/DesignTimeBuild/.dtbcache.v2
.vs/ConsoleApp8/FileContentIndex/5aa42f9e-5ada-4f81-bd7c-2dc708681432.vsidx
.vs/ConsoleApp8/FileContentIndex/aa6c81c4-233e-4c84-831f-31f360e039d1.vsidx
.vs/ConsoleApp8/FileContentIndex/b21434e8-d7a9-42e3-81b5-723780a7c6db.vsidx
.vs/ConsoleApp8/FileContentIndex/cd7fe376-f956-402f-bbfb-cbb836661257.vsidx
.vs/ConsoleApp8/FileContentIndex/read.lock
.vs/ConsoleApp8/v17/.futdcache.v2
.vs/ConsoleApp8/v17/.suo
.vs/ProjectEvaluation/consoleapp8.metadata.v6.1
.vs/ProjectEvaluation/consoleapp8.projects.v6.1
.vs/ProjectEvaluation/ultrasound_controller.metadata.v6.1
.vs/ProjectEvaluation/ultrasound_controller.projects.v6.1
.vs/ultrasound_controller/DesignTimeBuild/.dtbcache.v2
.vs/ultrasound_controller/FileContentIndex/decd8747-f712-41e5-9064-af5f92abe175.vsidx
.vs/ultrasound_controller/FileContentIndex/read.lock
.vs/ultrasound_controller/v17/.futdcache.v2
.vs/ultrasound_controller/v17/.suo
ultrasound_controller/obj/ConsoleApp8.csproj.nuget.dgspec.json
ultrasound_controller/obj/ConsoleApp8.csproj.nuget.g.props
ultrasound_controller/obj/ConsoleApp8.csproj.nuget.g.targets
ultrasound_controller/obj/project.assets.json
ultrasound_controller/obj/project.nuget.cache
ultrasound_controller/obj/ultrasound_controller.csproj.nuget.dgspec.json
ultrasound_controller/obj/ultrasound_controller.csproj.nuget.g.props
ultrasound_controller/obj/ultrasound_controller.csproj.nuget.g.targets
ultrasound_controller/obj/ultrasound.controller.csproj.nuget.dgspec.json
ultrasound_controller/obj/ultrasound.controller.csproj.nuget.g.props
ultrasound_controller/obj/ultrasound.controller.csproj.nuget.g.targets
ultrasound_controller/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ultrasound_controller/obj/Debug/net6.0/apphost.exe
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.AssemblyInfo.cs
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.AssemblyInfoInputs.cache
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.assets.cache
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.csproj.AssemblyReference.cache
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.csproj.BuildWithSkipAnalyzers
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.csproj.CopyComplete
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.csproj.CoreCompileInputs.cache
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.csproj.FileListAbsolute.txt
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.dll
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.GeneratedMSBuildEditorConfig.editorconfig
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.genruntimeconfig.cache
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.GlobalUsings.g.cs
ultrasound_controller/obj/Debug/net6.0/ConsoleApp8.pdb
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.AssemblyInfo.cs
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.AssemblyInfoInputs.cache
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.assets.cache
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.csproj.AssemblyReference.cache
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.csproj.BuildWithSkipAnalyzers
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.csproj.CoreCompileInputs.cache
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.csproj.FileListAbsolute.txt
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.dll
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.GeneratedMSBuildEditorConfig.editorconfig
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.genruntimeconfig.cache
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.GlobalUsings.g.cs
ultrasound_controller/obj/Debug/net6.0/ultrasound_controller.pdb
ultrasound_controller/obj/Debug/net6.0/ultrasound.controller.AssemblyInfo.cs
ultrasound_controller/obj/Debug/net6.0/ultrasound.controller.AssemblyInfoInputs.cache
ultrasound_controller/obj/Debug/net6.0/ultrasound.controller.assets.cache
ultrasound_controller/obj/Debug/net6.0/ultrasound.controller.csproj.AssemblyReference.cache
ultrasound_controller/obj/Debug/net6.0/ultrasound.controller.GeneratedMSBuildEditorConfig.editorconfig
ultrasound_controller/obj/Debug/net6.0/ultrasound.controller.GlobalUsings.g.cs
ultrasound_controller/obj/Debug/net6.0/ref/ConsoleApp8.dll
ultrasound_controller/obj/Debug/net6.0/ref/ultrasound_controller.dll
ultrasound_controller/obj/Debug/net6.0/refint/ConsoleApp8.dll
ultrasound_controller/obj/Debug/net6.0/refint/ultrasound_controller.dll
ultrasound_controller/bin/Debug/net6.0/Accord.dll
ultrasound_controller/bin/Debug/net6.0/Accord.dll.config
ultrasound_controller/bin/Debug/net6.0/Accord.Math.Core.dll
ultrasound_controller/bin/Debug/net6.0/Accord.Math.dll
ultrasound_controller/bin/Debug/net6.0/AudioSwitcher.AudioApi.CoreAudio.dll
ultrasound_controller/bin/Debug/net6.0/AudioSwitcher.AudioApi.dll
ultrasound_controller/bin/Debug/net6.0/ConsoleApp8.deps.json
ultrasound_controller/bin/Debug/net6.0/ConsoleApp8.dll
ultrasound_controller/bin/Debug/net6.0/ConsoleApp8.exe
ultrasound_controller/bin/Debug/net6.0/ConsoleApp8.pdb
ultrasound_controller/bin/Debug/net6.0/ConsoleApp8.runtimeconfig.json
ultrasound_controller/bin/Debug/net6.0/FftSharp.dll
ultrasound_controller/bin/Debug/net6.0/MathNet.Numerics.dll
ultrasound_controller/bin/Debug/net6.0/Microsoft.ML.Core.dll
ultrasound_controller/bin/Debug/net6.0/Microsoft.ML.CpuMath.dll
ultrasound_controller/bin/Debug/net6.0/Microsoft.ML.Data.dll
ultrasound_controller/bin/Debug/net6.0/Microsoft.ML.DataView.dll
ultrasound_controller/bin/Debug/net6.0/Microsoft.ML.dll
ultrasound_controller/bin/Debug/net6.0/Microsoft.ML.FastTree.dll
ultrasound_controller/bin/Debug/net6.0/Microsoft.ML.KMeansClustering.dll
ultrasound_controller/bin/Debug/net6.0/Microsoft.ML.LightGbm.dll
ultrasound_controller/bin/Debug/net6.0/Microsoft.ML.PCA.dll
ultrasound_controller/bin/Debug/net6.0/Microsoft.ML.StandardTrainers.dll
ultrasound_controller/bin/Debug/net6.0/Microsoft.ML.Transforms.dll
ultrasound_controller/bin/Debug/net6.0/NAudio.Asio.dll
ultrasound_controller/bin/Debug/net6.0/NAudio.Core.dll
ultrasound_controller/bin/Debug/net6.0/NAudio.dll
ultrasound_controller/bin/Debug/net6.0/NAudio.Midi.dll
ultrasound_controller/bin/Debug/net6.0/NAudio.Wasapi.dll
ultrasound_controller/bin/Debug/net6.0/NAudio.WinMM.dll
ultrasound_controller/bin/Debug/net6.0/Newtonsoft.Json.dll
ultrasound_controller/bin/Debug/net6.0/System.CodeDom.dll
ultrasound_controller/bin/Debug/net6.0/ultrasound_controller.deps.json
ultrasound_controller/bin/Debug/net6.0/ultrasound_controller.dll
ultrasound_controller/bin/Debug/net6.0/ultrasound_controller.exe
ultrasound_controller/bin/Debug/net6.0/ultrasound_controller.pdb
ultrasound_controller/bin/Debug/net6.0/ultrasound_controller.runtimeconfig.json
ultrasound_controller/bin/Debug/net6.0/runtimes/linux-arm/native/libLdaNative.so
ultrasound_controller/bin/Debug/net6.0/runtimes/linux-arm64/native/libLdaNative.so
ultrasound_controller/bin/Debug/net6.0/runtimes/linux-x64/native/lib_lightgbm.so
ultrasound_controller/bin/Debug/net6.0/runtimes/linux-x64/native/libFastTreeNative.so
ultrasound_controller/bin/Debug/net6.0/runtimes/linux-x64/native/libLdaNative.so
ultrasound_controller/bin/Debug/net6.0/runtimes/osx-arm64/native/libLdaNative.dylib
ultrasound_controller/bin/Debug/net6.0/runtimes/osx-x64/native/lib_lightgbm.dylib
ultrasound_controller/bin/Debug/net6.0/runtimes/osx-x64/native/libFastTreeNative.dylib
ultrasound_controller/bin/Debug/net6.0/runtimes/osx-x64/native/libLdaNative.dylib
ultrasound_controller/bin/Debug/net6.0/runtimes/win-x64/native/FastTreeNative.dll
ultrasound_controller/bin/Debug/net6.0/runtimes/win-x64/native/LdaNative.dll
ultrasound_controller/bin/Debug/net6.0/runtimes/win-x64/native/lib_lightgbm.dll
ultrasound_controller/bin/Debug/net6.0/runtimes/win-x64/native/lightgbm.exe
ultrasound_controller/bin/Debug/net6.0/runtimes/win-x86/native/FastTreeNative.dll
ultrasound_controller/bin/Debug/net6.0/runtimes/win-x86/native/LdaNative.dll
